@import "../../../../assets/styles/mixins";

.wrapper {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.statsLink {
  width: 40px;
  height: 40px;
  margin-right: 24px;
  border-radius: 8px;
  background-color: #3a6af5;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 12px;
    height: 12px;
  }
}

.avatar {
  width: 41px;
  height: 41px;
  background-color: bisque;
  border: 2px solid var(--color-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: blue;
}

.btnLogout {
  @include button(light, 119px, 40px, var(--button-color-black));

  & span {
    margin-right: 10px;
  }

  & img {
    width: 14px;
    height: 14px;
  }
}
