.l_circle {
  position: absolute;
  bottom: -135px;
  right: -63px;

  width: 630px;
  height: 630px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    212.28deg,
    rgba(58, 106, 245, 0.7) 9.2%,
    rgba(0, 0, 0, 0.7) 97.4%
  );
}

.s_circle {
  width: 504px;
  height: 504px;

  border-radius: 50%;

  background: radial-gradient(
    63.33% 63.33% at 34.17% 36.67%,
    #6c92f3 0%,
    #1d03bd 100%
  );
}

.img_boy {
  transform: translate(18px, -136px);

  width: 439px;
  height: 569px;
  background-image: url("../../images/boy_with_phone.png");
  background-size: contain;
  z-index: 5;
}
