.list {
  // width: 770px;
  height: 286px;
  margin: 0 auto;
  margin-bottom: 74px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 30px;
}

.input {
  border: 1px solid var(--color-light);
  border-radius: 6px;
  font-size: 24px;
  padding: 8px;
  &:disabled {
    background: none;
    // background-color: red;
  }
}
