html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: var(--color-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button,
a {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}
