:root {
  --main-font: "Lato", sans-serif;
  --secondary-font: "Unbounded", sans-serif;
  --advanced-font: "Roboto", sans-serif;

  --main-dark-bg: #191d28;
  --button-bg-light: #f3f3f3;
  --button-bg-light-hover: #f3f3f390;
  --button-bg-dark: #3a6af5;
  --button-bg-dark-hover: #3a6af590;
  --bg-dark: #3a6af5;
  --secondary-bg-dark: #1f253480;

  --button-color-light: #f3f3f3;
  --button-color-dark: #3a6af5;
  --button-color-black: #242424;
  --auth-label-color: #6c6c6c;
  --color-light: #f3f3f3;
  --color-dark: #3a6af5;
  --color-black: #191d28;
  --secondary-color-light: #f3f3f366;

  --marker-bg-accum: #6359e9;
  --marker-bg-expense: #3a6af5;
  --marker-bg-income: #f3f3f3;
}
