:root {
  --main-font: "Lato", sans-serif;
  --secondary-font: "Unbounded", sans-serif;
  --advanced-font: "Roboto", sans-serif;

  --main-dark-bg: #191d28;
  --button-bg-light: #f3f3f3;
  --button-bg-dark: #3a6af5;

  --button-color-light: #f3f3f3;
  --button-color-dark: #3a6af5;
  --button-color-black: #242424;
  --auth-label-color: #6c6c6c;
  --color-light: #f3f3f3;
}
