.wrapper {
  margin-left: auto;
}

.input {
  width: 217px;
  height: 52px;
  padding-left: 18px;

  background: #252c4150;
  border: none;
  border-radius: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #f3f3f3;

  background-image: url(../../icons/calendar.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 179px 18px;
}

.calendar {
  & [role="option"] {
    color: "red";
  }
}
